autopep8==1.4.4
docutils==0.15.post1
guzzle-sphinx-theme==0.7.11
m2r==0.2.1
pep8==1.7.1
pycodestyle==2.5.0
-e git://github.com/pytest-dev/pytest-cov@master#egg=pytestcov
Sphinx==2.1.2
sphinxcontrib-log-cabinet==1.0.1
sphinxcontrib-websupport==1.1.2
pip==19.1.1
twine==1.13.0