autopep8==1.*
docutils==0.*
guzzle-sphinx-theme==0.*
m2r==0.*
pep8==1.*
pycodestyle==2.*
-e git://github.com/pytest-dev/pytest-cov@master#egg=pytestcov
Sphinx==2.*
sphinxcontrib-log-cabinet==1.*
sphinxcontrib-websupport==1.*
twine==2.*
