name: Release
on:
  push:
    branches:
      - master

jobs:
  tests:
    name: Tests
    uses: ./.github/workflows/test.yml
    permissions:
      contents: read

  release:
    name: Release @ ${{ vars.RTLDEV_MW_CI_OS }}
    runs-on: ${{ vars.RTLDEV_MW_CI_OS }}
    needs: tests
    permissions:
      contents: write    
      deployments: write
      issues: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install Python ${{ vars.RTLDEV_MW_CI_PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          check-latest: true
          python-version: '${{ vars.RTLDEV_MW_CI_PYTHON_VERSION }}'
      - name: Install dependencies
        run: |
          pip install --upgrade pip build
          pip -V
          pip install --upgrade -e .
      - name: Setup NodeJS ${{ vars.RTLDEV_MW_CI_NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.RTLDEV_MW_CI_NODE_VERSION }}
          check-latest: true
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Download htmlcov folder from previous job
        uses: actions/download-artifact@v3
        with:
          name: coverage-folder
          path: htmlcov
      - name: Release
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
          RTLDEV_MW_NOTIFICATION_URI: ${{ secrets.RTLDEV_MW_NOTIFICATION_URI }}
          GITHUB_TOKEN: ${{ secrets.RTLDEV_MW_CI_TOKEN }}
        run: npx semantic-release
